ip=127.0.0.1
port=8888
# use comm parameter to specify the communication mode with extrenal app (tcp for tcp communication and shm for share memmory)
comm=tcp
# use areaname param, used to specify the shared memory area name, don't set unless there is more that observer instance.
areaname=ObserverArea
# qname is the queue name will includes the data. don't set it unless there is different type of event class.
qname=ObserverQ

### driving config
contextCmd=context
gearMode=drive
endpointX=450
endpointZ=270
steerCmd=steer
brakeCmd=brake
gasCmd=gas
reverseGear=reverse
contextFreguencySec=1
contextFreguencyNano=0
mainCommand=brz:set

#just for the record
#CC_INCLUDES+=/home/mojtaba/sources/phd_coding_projects/Models/ObserverLibs/src
#UMLRTS_ROOT ?= /home/mojtaba/.p2/pool/plugins/org.eclipse.papyrusrt.rts_0.7.2.201604191919/umlrts
