# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
#xtend bin file
*.xtendbin
*.xtendbin
.*.java._trace
.*.xtendbin
*._trace
cs.queensu.ca.Unity.ide/bin/cs/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
cs.queensu.ca.Unity/.classpath
hs_err_pid*
cs.queensu.ca.Unity/bin/cs/queensu/ca/Unity.xtextbin
cs.queensu.ca.Unity/bin/*
cs.queensu.ca.Unity/xtend-gen/*
cs.queensu.ca.Unity/META-INF/*
cs.queensu.ca.Unity.ui/xtend-gen/*
cs.queensu.ca.Unity.ui/bin/*
cs.queensu.ca.Unity.ide/xtend-gen/*
cs.queensu.ca.Unity.ide/bin/*
*.swp
cs.queensu.ca.Unity/src-gen/*
cs.queensu.ca.Unity.ui/bin/*
cs.queensu.ca.Unity.ui/xtend-gen/*
cs.queensu.ca.Unity/src-gen/*
